{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ form.f_page_name.value }}
{% endblock %}

{% block body %}
<h1>Внесение изменений в статью "{{ form.f_page_name.value }}"</h1>
<h6></h6>
<form action="{% url 'encyclopedia:savepage' %}" method="post">
    {% csrf_token %} 
    <div class="br_edit" type="text1">{{form.f_page_content}}</div>
    <input class="btn btn1" type="submit" value="Сохранить">
    <input type="hidden" name = "f_page_name" value="{{form.f_page_name.value}}">
    <input type="hidden" name = "edit" value={{edit}}>
</form>
{% endblock %}